body {
    background-color: #ffdddd;
    color: #666666;
    font-family: "Times New Roman", Times, serif;
    padding: 30px;
}

h1 {
    color: #993366;
}

form {
    background-color: white;
    padding: 20px;
    width: 450px;
}